@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
}

a:link {
	color: #CCC;
	text-decoration: none;
}
a:hover {
	color: #09F;
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: #EDEDED;
}

a:active {
	color: #09F;
	text-decoration: none;
}

body {
	background-color: #023e5a;
	margin: 0;
	padding: 0;
	
}

.style1 {
	text-align:center;
	color:#fff;
}

.style2 {
	color:#fff;
	font-size:28px;
	text-align:center;
	
}

#mainframe {
	background-image:url(background.png);
	background-repeat:no-repeat;
	height: 100%;
	width:800px;
	position:relative;
	margin: 0 auto;
	border:1px solid #000;
	
	
}

#footer {
	position:relative;
	width:800px;
	height:20px;
	
}

#banner {
	background-image:url(banner.png);
	width:800px;
	height:115px;
}

#slider {
	position: relative;
	width:666px;
	height:300px;
	top:-20px;
	left:65px;
	background-color:#fff;
	border:1px solid #000;
}

#contentbackground {
	position:relative;
	top: 0px;
	left:35px;
	width:728px;
	height:400px;
	background-image:url(../semi.png);
	/*opacity:0.2;*/
}

#loginbackground {
	position:relative;
	background-image:url(../semi.png);
	height:23px;
	width:300px;
	top: 70px;
	left:567px;
	width:165px;
}

#login {
	position:relative;
	color:#FFFFFF;
	top: 3px;
	left:0px;
	width:165px;
	text-align:center;
	z-index:100;
}

#existing {
	position:relative;
	top: 30px;
	left:75px;
	width:728px;
	height:400px;
	color:#fff;
}

#divider {
	position:relative;
	top: 30px;
	left:75px;
	width:2px;
	height:400px;
	background-image:url(../divider.png);
}